body{
	background-color:orange;
	border:;
	height:100%;

}

table{
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	border-collapse: collapse;
	border:0px;
	border-color:transparent;
	width:100%;
	background-color:black;
	color:white;	
}
.titleBar{
	background-color:;
	color:white;
}
.topNav{
	background-color:;
	border:;
	color:orange;
	font-size:24px;
	height:50px;
}

.left{
	vertical-align: text-top;
	width:25%;
	border:;
	color:white;
	background:;
}

.content1{
	vertical-align: text-top;
	color:white;
	border:;
	background:;
}
.content2{
	vertical-align: text-top;
	vertical-align: text-top;
	color:white;
	text-align:center;
}
h1{
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	text-align:center;
	color:white;
}
h2{
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	text-align:center;
}
h2.link{	
	text-align:justify;
}
a:link, a:visited {
    color: white;
	background-color:black;
	text-align:justify;
	padding:10px 20px;
	display: inline-block;
}
a:hover, a:active {
	color: orange;
	background-color:grey;
	display: inline-block;
	padding:10px 10px;
    
}

/* DIVS */
div.container{
	border:;
	width:80%;
	postion:absolute;
	background-color: black;
	height:100%;
	margin-left:10%;
}
justifyLink{
	
	text-align: justify;
	
}
